<div class="row">
    <div class="card-col-4 offset-4">
        <h3>Ура, заказ оформлен!</h3>
        <a class="btn btn-outline-dark btn-block"
           role="button"
           asp-controller="Home"
           asp-action="Index">Назад к покупкам</a>
    </div>
</div>
