<!--Add product-->
@model ProductViewModel
@{
    ViewData["Title"] = "Добавить новый товар";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post" enctype="multipart/form-data">
                <h6>Добавить новый товар</h6>
                <div class="mb-3">
                    <input asp-for="Brand" class="form-control" placeholder="Марка">
                    <span asp-validation-for="Brand" class="text-danger font-weight-bold"></span>
                </div>
                <div class="mb-3">
                    <input asp-for="Title" class="form-control" placeholder="Название">
                    <span asp-validation-for="Title" class="text-danger font-weight-bold"></span>
                </div>
                <div class="mb-3">
                    <input asp-for="Color" class="form-control" placeholder="Цвет">
                    <span asp-validation-for="Color" class="text-danger font-weight-bold"></span>
                </div>
                <div class="mb-3">
                    <input asp-for="ModelYear" class="form-control" placeholder="Год выпуска">
                    <span asp-validation-for="ModelYear" class="text-danger font-weight-bold"></span>
                </div>
                <div class="mb-3">
                    <input asp-for="Country" class="form-control" placeholder="Страна">
                    <span asp-validation-for="Country" class="text-danger font-weight-bold"></span>
                </div>
                <div class="mb-3">
                    <input asp-for="Cost" class="form-control" placeholder="Цена">
                    <span asp-validation-for="Cost" class="text-danger font-weight-bold"></span>
                </div>
                <div class="mb-3">
                    <small>Загрузить изображения</small>
                    <input type="file" class="form-control" name="UploadedFiles" multiple accept="image/*">
                </div>
                <button class="btn btn-primary btn-block"
                        role="button"
                        type="submit"
                        asp-area="Administration"
                        asp-controller="Products"
                        asp-action="Add">
                    Добавить товар
                </button>
                <a class="btn btn-outline-dark btn-block"
                   role="button"
                   asp-area="Administration"
                   asp-controller="Products"
                   asp-action="Index">
                    Отмена
                </a>
            </form>
        </div>
    </div>
</div>