<div class="row">
    <div class="card-col-4 offset-4">
        <h3 class="text-center">Вы успешно зарегистрированы!</h3>
        <a class="btn btn-outline-dark btn-block"
           role="button"
           asp-controller="Home"
           asp-action="Index">К покупкам</a>
    </div>
</div>