@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Изменение пароля";
}
<div class="container">
    <div class="row">
        <div class="col-2">
            @await Component.InvokeAsync("PersonalPanel")
        </div>
        <div class="col-6">
            <h6>Изменение пароля пользователя</h6>
            <form method="post">
                <div class="mb-3">
                    <input asp-for="UserName" class="form-control" readonly value="@Model.UserName" />
                </div>
                <div class="mb-3">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Текущий пароль">
                    <span asp-validation-for="Password" class="text-danger font-weight-bold"></span>
                </div>
                <div class="mb-3">
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="Новый пароль">
                    <span asp-validation-for="NewPassword" class="text-danger font-weight-bold"></span>
                </div>
                <div class="mb-3">
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Подтвердите новый пароль">
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger font-weight-bold"></span>
                </div>
                <button class="btn btn-primary btn-block"
                        role="button"
                        type="submit"
                        asp-controller="PersonalAccount"
                        asp-action="ChangePassword">
                    Сохранить пароль
                </button>
                <a class="btn btn-outline-dark btn-block"
                   role="button"
                   asp-controller="PersonalAccount"
                   asp-action="Index">
                    Отмена
                </a>
                <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
            </form>
        </div>
    </div>
</div>