<!-- Admin panel -->
<div class="list-group">
    <a class="list-group-item text-dark"
       asp-area="Administration"
       asp-controller="Orders"
       asp-action="Index">Заказы</a>

    <a class="list-group-item text-dark"
       asp-area="Administration"
       asp-controller="Users"
       asp-action="Index">Пользователи</a>

    <a class="list-group-item text-dark"
       asp-area="Administration"
       asp-controller="Roles"
       asp-action="Index">Роли</a>

    <a class="list-group-item text-dark"
       asp-area="Administration"
       asp-controller="Products"
       asp-action="Index">Товары</a>
</div>